@media (width >= 1024px) {
  .header {
    padding-block: 20px 124px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    inline-size: auto;
    block-size: 26px;
  }

  .title {
    font-size: 156px;
    margin-block-start: 182px;
  }

  .content-section_type_mix-cascade {
    grid-template-columns: 32% 66%;
  }
  
  .content-section_type_horizontal-cascade { 
    display: flex;
    flex-direction: column; 
  }

  .content-section_type_horizontal-cascade > .general-text {
    inline-size: 32%;
  }

  .content-section_type_horizontal-cascade .card-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
  }

  .footer__title {
    font-size: 157px;
  }
}
