@media (width >= 768px) {
  .page {
    gap: 60px;
    padding-inline: 20px;
  }

  .header {
    padding-block: calc(160px - 0.625 * (100vw - 768px))
      calc(173px - (100vw - 768px) / 5.225);
  }

  .corner-top {
    inset-block-start: 20px;
  }

  .corner-bottom {
    inset-block-end: 20px;
  }

  .spec-element {
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: calc(30px + (100vw - 768px) / 6.4);
  }

  .title {
    margin-inline-start: -20px;
  }

  .header__explanation {
    inline-size: calc(364px + (100% - 728px) * 0.4961);
  }

  .main {
    gap: 80px;
  }
  
  .content-section_type_mix-cascade {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 32.4% 64.84%;

  }

  .content-section_type_vertical-cascade .section__title {
    inline-size: 236px;
  }
 
  .content-section_type_vertical-cascade {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .illustration {
    gap: 20px;
  }

  .illustration__array {
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .illustration_item:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .illustration_item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .illustration_item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .illustration_item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .illustration_item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

/*____________________________________________ >=1024 _________________________________________________________*/
