/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028; /* — для цвета фона */
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #f1b2ce; /* — для цвета текста */
  --nav-color: #ff0070; /* - color на кнопках смены темы*/
  --nav-color-hover: rgba(
    100%,
    0%,
    44%,
    0.4
  ); /* - color на кнопках смены темы при наведении на них */
  --accent-color: #ff0070; /* — для акцентного цвета */
  --title-color: #db00ff;
  --title-decor-color: #ff0070;
  --spare-title-decor-color: #000028;
  --corner-color: #ff006f;
  --main-font: "IBM Plex Mono", monospace; /* — имя семейства шрифта преобладающего текста (абзацы) */
}
